*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
3rdparty/src/ffmpeg/
3rdparty/src/zlmediakit
# Large binary files (>100MB) - exclude from git
3rdparty/target/
